<div class="loginform">
<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="row">
	        <div class="col-md-12">
	            <div class="pr-wrap">
	                <div class="pass-reset">
	                    <label>
	                        Enter the email you signed up with</label>
	                    <input type="email" placeholder="Email" />
	                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
	                </div>
	            </div>
	            <div class="wrap">
	                <p class="form-title">
	                    Sign In
					</p>
					<%= form_for(:session, :html => {:class => 'login'}, :url => {:action => :create}) do |f| %>

					      <%= f.label :email %>
					      <%= f.text_field :email, class: 'name' %>

					      <%= f.label :password %>
					      <%= f.password_field :password, class: 'password' %>

					      <%= f.submit "Log in", class: "btn btn-success btn-sm" %>
						  OR <%= link_to "Register Now!", new_user_path %>
					<% end %>
	            </div>
	        </div>
		</div>
	</div>
</div>