<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="row">
	        <div class="col-md-12">
	            <div class="pr-wrap">
	                <div class="pass-reset">
	                    <label>
	                        Enter the email you signed up with</label>
	                    <input type="email" placeholder="Email" />
	                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
	                </div>
	            </div>
	            <div class="wrap">
	                <p class="form-title"> Sign Up</p>
						<%=form_for(@user, :html => {:class => 'signup'}, :url => {:action => :create}) do |f| %>
						<%=f.label :username %>
						<%=f.text_field :name, :id => "username" %>
						<%=f.label :email %>
						<%=f.text_field :email, :id => "email"%>
						<%=f.label :password %>
						<%=f.password_field :password %>
						<%=f.label :password_confirmation %>
						<%=f.password_field :password_confirmation %>
						<%=f.submit "Create my account", class: "btn btn-success btn-sm" %>
					<% end %>
	            </div>
	        </div>
		</div>
	</div>