<div id="books">
	<div class="col-xs-10 col-sm-4 col-md-6">
		<h1>Search books</h1>
		<%= form_tag("/books", method: "post", class: "navbar-form navbar-left") do %>
		<%= label_tag(:myform, "Search for:") %>
		<%= text_field_tag(:search) %>
		<%= submit_tag("Search", :class => "btn btn-success btn-small") %>
		<% end %>
	</div>
</div>