
<div id="books">
	<h3>Search Result for: <%= @searched %></h3>
	<div class="bs-example">
		<table class="table">
			<thead>
				<tr>
					<th>Thumbnail</th>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
				</tr>
			</thead>
  			<tbody>
				<% if !@result['items'].nil? %>
					<% @result['items'].each do |book| %>
					<tr>
						<th><a href="/books/create"><%= image_tag book['volumeInfo']['imageLinks']['thumbnail'], :alt => "book_image" %></a></th>
						<th><%= book['volumeInfo']['title']%></th>
						<th>
							<%= book['volumeInfo']['authors'].join(", ") %>
						</th>
						<th><%= book['volumeInfo']['description']%></th>
					</tr>
					<% end %>
				<% else %>
				<tr>
					<th>"No results found"</th>
				</tr>
				<% end %>
  			</tbody>
		</table>
	</div>
</div>


