    <header class="image-bg-fluid-height">
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Welcome to Bookhub (:</h1>
                    <p class="lead section-lead">Make an account today and create your own booklist</p>
                    <p class="section-paragraph">So used to creating music playlists? Why not for books?</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    