<!DOCTYPE html>
<html>
<head>
  <title>BookHUB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
